* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    box-shadow: 2px 2px 6px #0000001b, -2px -2px 6px #FFFFFF1b, -2px -2px 6px #0000001b, 2px 2px 6px #FFFFFF1b;
    border-radius: 50px;
    overflow: hidden;
}

.menu_btn__burger {
    width: 16px;
    height: 2px;
    background-color: #F9F5F4;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu_btn__burger::before,
.menu_btn__burger::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #F9F5F4;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.menu_btn__burger::before {
    transform: translateY(-5px);
}

.menu_btn__burger::after {
    transform: translateY(5px);
}


/* ANIMATION */

.menu_btn.open .menu_btn__burger {
    transform: rotate(45deg) translate(0, 0);
    background-color: transparent;
}

.menu_btn.open .menu_btn__burger::before {
    transform: rotate(90deg) translate(0, 0);
}

.menu_btn.open .menu_btn__burger::after {
    transform: rotate(0deg) translate(0, 0);
}